/* 変化をチェック */
.body {
  max-width: 1170px;
  max-height: 845px;
}

h1, h4, span {
  font-family: "Yomogi", cursive;
}

.typography {
  display: flex;
}

.typography-item {
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-weight: bold;
}

select {
  margin-left: 7px;
  font-family: 'Yomogi';
  font-weight: bold;
}

/* ここクラス名つけた方がいい？ */
label span {
  position:relative;
  font-weight: normal;
  padding-left: 22px;
  top: -1px; 
}

#image {
  position: relative;
}

#image > img {
  width: 1170px;
  height: 845px;
}

input {
  position: absolute;
  height: 22px;
  /* line-height変えたら表示変わる？ */
  line-height: 1rem;
  border: none;
  background-color: transparent;
  font-family: "Yomogi", cursive;
  font-size: 20px;
  font-weight: bold;
  /*text-align: center;*/
}

textarea {
  position: absolute;
  resize: none;
  border: none;
  background-color: transparent;
  font-family: "Yomogi", cursive;
  font-weight: bold;
  /* 中央寄せしたらプレビューズレる？ */
  text-align: center;
  line-height: 1;
}

.font15px {
  height: 17px;
  font-size: 15px;
}

/* 左上input */
#date-year {
  width: 37px;
  left: 418px;
  top: 21px;
}

#date-month {
  width: 20px;
  left: 478px;
  top: 21px;
}

#date-day {
  width: 20px;
  left: 520px;
  top: 21px;
}

#username {
  width: 123px;
  left: 235px;
  top: 62px;
}

#birth-year {
  width: 45px;
  left: 75px;
  top: 90px;
}

#birth-month {
  width: 20px;
  left: 143px;
  top: 90px;
}

#birth-day {
  width: 20px;
  left: 188px;
  top: 90px;
}

#constellation {
  width: 52px;
  left: 284px;
  top: 90px;
}

#blood-type {
  width: 35px;
  left: 137px;
  top: 118px;
}

#nickname {
  width: 122px;
  left: 167px;
  top: 146px;
}

#character {
  width: 150px;
  left: 138px;
  top: 175px;
}

#day-off {
  width: 165px;
  left: 152px;
  top: 205px;
}

/* アイコン画像アップロード */
#user-icon-preview {
  display: none;
  position: absolute;
  border: solid 1px;
  border-radius: 10px;
  width: 125px !important;
  height: 126px !important;
  object-fit: cover;
  left: 430px;
  top: 65px;
}

#user-icon-choose::file-selector-button {
  display: block;
  border: 0;
  background-color: transparent;
  font-family: "Yomogi", cursive;
  font-size: 13px;
  font-weight: bold;
  margin: 0 auto;
  line-height: 124px;
}

#user-icon-choose {
  display: block;
  border: solid 1px;
  border-radius: 10px;
  width: 123px;
  height: 124px;
  left: 430px;
  top: 65px;
}

/* 左上右のinput（文字小） */
#twitter {
  width: 84px;
  left: 474px;
  top: 193px;
}

#instagram {
  width: 76px;
  left: 483px;
  top: 212px;
}

/* 左上textarea */
.leftup-textarea {
  width: 145px;
  height: 45px;
}

#hobby {
  left: 75px;
  top: 263px;
}

#skill {
  left: 228px;
  top: 263px;
}

#boom {
  left: 75px;
  top: 330px;
}

#occupation {
  left: 228px;
  top: 330px;
}

/* 左上右のinput */
.leftup-input {
  width: 100px;
  left: 468px;
}

#birthplace {
  top: 265px;
}

#siblings {
  top: 290px;
}

#user-height {
  top: 318px;
}

#shoe-size {
  top: 343px;
}

/* 左中のinput */
.leftmiddle-input {
  width: 275px;
  left: 300px;
}

#feel-adult {
  top: 401px;
}

#feel-happy {
  top: 426px;
}

#favorit-word {
  top: 454px;
}

/* 左中のinput(My favorites) */
.leftmiddle-my-favorites {
  width: 108px;
}

#f-food {
  left: 86px;
  top: 540px;
}

#f-drink {
  left: 204px;
  top: 540px;
}

#f-place {
  left: 324px;
  top: 540px;
} 

#f-character {
  left: 443px;
  top: 540px;
}

#f-color {
  left: 86px;
  top: 575px;
}

#f-pattern {
  left: 204px;
  top: 575px;
}

#f-fragrance {
  left: 324px;
  top: 575px;
}

#f-brand {
  left: 443px;
  top: 575px;
}

#f-animal {
  left: 86px;
  top: 610px;
}

#f-sports {
  left: 204px;
  top: 610px;
}

#f-music {
  left: 324px;
  top: 610px;
}

#f-book {
  left: 443px;
  top: 610px;
}

.btn {
  display: block;
  font-family: "Yomogi", cursive;
  font-weight: bold;
  font-size: 30px;
  border: double;
  border-radius: 10px;
  border-color: blueviolet;
  box-shadow: 4px 4px gray;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.btn:active {
  position: relative;
  box-shadow: none;
  top: 4px;
}

#preview {
  display: none;
  /* paddingとmarginゼロでズレ治る？ */
  padding: 0;
  margin: 0;
}