body {
  font-family: "Yomogi", cursive;
  font-weight: bold;
}

/* h1タイトル */
h1 {
  position: relative;
  margin: 30px;
  display: inline-block;
}

h1:before,
h1:after {
  position: absolute;
  bottom: -15px;
  content: '';
  border: 1em solid rgb(223, 110, 223);
}

@media screen and (max-width: 575px) {
  h1:before,
  h1:after {
    border: 0.8em solid rgb(223, 110, 223);
  }
}

h1:before {
  left: -30px;
  border-left-width: 15px;
  border-left-color: transparent;
}

h1:after {
  right: -30px;
  border-right-width: 15px;
  border-right-color: transparent;
}

h1 span {
  position: relative;
  z-index: 2;
  display: block;
  padding: 0.2em 0.5em;
  color: white;
  text-align: center;
  background: rgb(240, 141, 240);
  box-shadow: 0px 0px 0px 5px rgb(240, 141, 240);
  border: dashed 2px white;
  border-radius: 10px;
}

/* 使い方の説明 */
#description-wrapper {
  margin-bottom: 30px;
}

#description-wrapper li {
  list-style-type: none !important;
}

#description-wrapper li span {
  border-bottom: dashed 2px rgb(223, 110, 223);
  line-height: 1.9em;
}

#description-wrapper li span:before {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  position: absolute;
  left: 1.8em;
  color: rgb(223, 110, 223);
}

/* タイポグラフィ変更 */
.typography {
  display: flex;
}

.typography-item {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

select {
  margin-left: 7px;
  font-family: "Yomogi", cursive;
  font-weight: bold;
}

#for-normal-font {
  position: relative;
  font-weight: normal;
  padding-left: 22px;
  top: -1px; 
}

/* メディアクエリ */
@media screen and (max-width: 767px) {
  #before-image {
    max-width: 100vw;
  }
  h1 span {
    font-size: 28px;
    padding: 10px;
  }
  #description-wrapper {
    width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  #description-wrapper li span:before {
    left: 3em;
  }  
}

@media screen and (max-width: 575px) {
  h1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  h1 span {
    font-size: 26px;
    padding: 10px;
  }
  #description-wrapper {
    margin-bottom: 20px;
  }
  #description-wrapper li span {
    font-size: 13px;
    line-height: 1.8rem;
  }
  .typography {
    display: block;
    width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(255, 198, 236);
    border-radius: 10px;
  }
  .typography-item {
    margin-bottom: 10px;
  }
  h4 {
    margin: 0;
  }
}

/* image上要素のCSS */
#image {
  position: relative;
  width: 1170px;
  height: 845px;
}

#image > img {
  position: absolute;
  width: 1170px;
  height: 845px;
  left: 0;
  top: 0;
}

input {
  position: absolute;
  height: 22px;
  border: none;
  background-color: transparent;
  font-family: "Yomogi", cursive;
  font-size: 20px;
  font-weight: bold;
  /* padding関係ある？ */
  padding: 0;
  padding-block: 0 !important; 
  padding-inline: 0 !important;
}

textarea {
  position: absolute;
  resize: none;
  border: none;
  background-color: transparent;
  font-family: "Yomogi", cursive;
  font-weight: bold;
  line-height: 1 !important;
  overflow:hidden;
  /* padding関係ある？ */
  padding: 0;
}

/* input・小さい文字用 */
.font15px {
  font-size: 15px;
}

/* アイコン画像アップロード */
#user-icon-preview {
  display: none;
  position: absolute;
  border: solid 1px black !important;
  border-radius: 10px;
  width: 125px !important;
  height: 126px !important;
  left: 430px;
  top: 65px;
  background-image: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#user-icon-choose::file-selector-button {
  display: block;
  border: 0;
  background-color: transparent;
  font-family: "Yomogi", cursive;
  font-size: 13px;
  font-weight: bold;
  margin: 0 auto;
  line-height: 124px;
}

#user-icon-choose {
  display: block;
  border: solid 1px black !important;
  border-radius: 10px;
  width: 123px;
  height: 124px;
  left: 430px;
  top: 65px;
}

.select-button {
  position: absolute;
  background-color: transparent;
  height: 1.4rem;
  border: none;
}

.select-button-active {
  border: solid 2px;
  border-radius: 10px;
}

/* ----ここから入力部分のCSS---- */
/* 左・選択肢 */
#watashi {
  width: 51px;
  left: 81px;
  top: 63px;
}
#boku {
  width: 36px;
  left: 138px;
  top: 63px;
}

#left {
  width: 25px;
  left: 290px;
  top: 121px;
}
#right {
  width: 25px;
  left: 319px;
  top: 121px;
}

/* 左上input */
#date-year {
  width: 37px;
  left: 418px;
  top: 21px;
}
#date-month {
  width: 20px;
  left: 478px;
  top: 21px;
}
#date-day {
  width: 20px;
  left: 520px;
  top: 21px;
}
#username {
  width: 123px;
  left: 235px;
  top: 62px;
}
#birth-year {
  width: 45px;
  left: 79px;
  top: 90px;
}
#birth-month {
  width: 20px;
  left: 143px;
  top: 90px;
}
#birth-day {
  width: 20px;
  left: 188px;
  top: 90px;
}
#constellation {
  width: 52px;
  left: 288px;
  top: 90px;
}
#blood-type {
  width: 28px;
  left: 144px;
  top: 119px;
}
#nickname {
  width: 122px;
  left: 167px;
  top: 148px;
}
#character {
  width: 150px;
  left: 140px;
  top: 176px;
}
#day-off {
  width: 165px;
  left: 152px;
  top: 205px;
}

/* 左上右のinput(SNS, 文字小） */
#twitter {
  width: 84px;
  left: 475px;
  top: 193px;
}
#instagram {
  width: 76px;
  left: 483px;
  top: 212px;
}

/* 左上textarea */
.leftup-textarea {
  width: 145px;
  height: 45px;
  font-size: 14px;
}

#hobby {
  left: 75px;
  top: 263px;
}
#skill {
  left: 228px;
  top: 263px;
}
#boom {
  left: 75px;
  top: 330px;
}
#occupation {
  left: 228px;
  top: 330px;
}

/* 左上右のinput */
.leftup-input {
  width: 100px;
  left: 468px;
}

#birthplace {
  top: 265px;
}
#siblings {
  top: 290px;
}
#user-height {
  top: 318px;
}
#shoe-size {
  top: 343px;
}

/* 左中のinput */
.leftmiddle-input {
  width: 279px;
  left: 300px;
}

#feel-adult {
  top: 401px;
}
#feel-happy {
  top: 426px;
}
#favorit-word {
  top: 454px;
}

/* 左中のinput(My favorites, 文字小) */
.leftmiddle-my-favorites {
  width: 108px;
}

#f-food {
  left: 86px;
  top: 538px;
}
#f-drink {
  left: 204px;
  top: 538px;
}
#f-place {
  left: 324px;
  top: 538px;
} 
#f-character {
  left: 443px;
  top: 538px;
}

#f-color {
  left: 86px;
  top: 573px;
}
#f-pattern {
  left: 204px;
  top: 573px;
}
#f-fragrance {
  left: 324px;
  top: 573px;
}
#f-brand {
  left: 443px;
  top: 573px;
}

#f-animal {
  left: 86px;
  top: 608px;
}
#f-sports {
  left: 204px;
  top: 608px;
}
#f-music {
  left: 324px;
  top: 608px;
}
#f-book {
  left: 443px;
  top: 608px;
}

/* 左下のinput(BEST3, 文字大) */
.leftdown-best3 {
  width: 148px;
  left: 98px;
}

#best3-thema {
  width: 134px;
  left: 91px;
  top: 659px;
}

#best3-1 {
  top: 701px;
}
#best3-2 {
  top: 737px;
}
#best3-3 {
  top: 773px;
}

/* 左下のtextarea */
.leftdown-textarea {
  height: 52px;
  font-size: 14px;
}

#present-you-like {
  width: 100px;
  left: 307px;
  top: 675px;
}
#want-to-challenge {
  width: 130px;
  left: 415px;
  top: 675px;
}
#present-you-want {
  width: 100px;
  left: 355px;
  top: 748px;
}
#good-memory {
  width: 115px;
  left: 458px;
  top: 748px;
}

/* 右上のtextarea（if） */
.rightup-textarea {
  width: 116px;
  height: 50px;
  font-size: 16px;
  top: 58px;
}

#if-reborn {
  left: 625px;
}
#if-magic {
  left: 747px;
}
#if-a-month-free {
  left: 869px;
}
#if-3million {
  left: 988px;
}

/* 右中のinput(My favorites+) */
.rightmiddle-input {
  width: 112px;
}

#onigiri {
  left: 615px;
  top: 192px;
}
#sushi {
  left: 734px;
  top: 192px;
}
#pudding {
  left: 854px;
  top: 192px;
}
#tamagoyaki {
  left: 975px;
  top: 192px;
}

#ramen {
  left: 615px;
  top: 237px;
}
#curry {
  left: 734px;
  top: 237px;
}
#alcohol {
  left: 854px;
  top: 237px;
}
#otsumami {
  left: 975px;
  top: 237px;
}

#nabe {
  left: 615px;
  top: 283px;
}
#misosiru {
  left: 734px;
  top: 283px;
}
#oden {
  left: 854px;
  top: 283px;
}
#pizza {
  left: 975px;
  top: 283px;
}

#anko {
  left: 615px;
  top: 329px;
}
#taiyaki {
  left: 734px;
  top: 329px;
}
#medamayaki {
  left: 854px;
  top: 329px;
}
#tonkatsu {
  left: 975px;
  top: 329px;
}

#not-favorite-food {
  width: 295px;
  left: 615px;
  top: 376px;
}
#last-food {
  width: 169px;
  left: 918px;
  top: 376px;
}

/* 右・選択肢 */
#dog {
  width: 25px;
  left: 684px;
  top: 459px;
}
#cat {
  width: 25px;
  left: 724px;
  top: 459px;
}

#another-animal {
  width: 68px;
  left: 774px;
  top: 457px;
}

#indoor {
  width: 65px;
  left: 684px;
  top: 483px;
}
#outdoor {
  width: 80px;
  left: 764px;
  top: 483px;
}
#rice {
  width: 50px;
  left: 684px;
  top: 508px;
}
#bread {
  width: 37px;
  left: 752px;
  top: 508px;
}
#reply-fast {
  width: 90px;
  left: 684px;
  top: 532px;
}
#reply-slow {
  width: 68px;
  left: 790px;
  top: 532px;
}
#kinoko {
  width: 80px;
  left: 644px;
  top: 556px;
}
#takenoko {
  width: 90px;
  left: 739px;
  top: 556px;
}
#roller-coaster-yes {
  width: 50px;
  left: 697px;
  top: 581px;
}
#roller-coaster-no {
  width: 68px;
  left: 763px;
  top: 581px;
}
#furusato-nouzei-yes {
  width: 50px;
  left: 727px;
  top: 605px;
}
#furusato-nouzei-no {
  width: 65px;
  left: 793px;
  top: 605px;
}

/* 右下textarea(れんそうゲーム) */
.image-game-textarea {
  width: 80px;
  height: 33px;
  font-size: 16px;
}

#image-handsome {
  left: 918px;
  top: 485px;
}
#image-kawaii {
  left: 1009px;
  top: 485px;
}
#image-funny {
  left: 918px;
  top: 543px;
}
#image-tennen {
  left: 1009px;
  top: 543px;
}
#image-fashionable {
  left: 918px;
  top: 601px;
}

/* 右下textarea(フリースペース) */
#free-space {
  width: 500px;
  height: 125px;
  font-size: 20px;
  left: 603px;
  top: 688px;
}

/* プレビュー＆ダウンロードボタン */
.btn {
  display: block;
  background: rgb(240, 141, 240);
  border: dashed 3px white;
  border-radius: 10px;
  font-family: "Yomogi", cursive;
  color: white;
  font-weight: bold;
  font-size: 25px;
  box-shadow: 5px 5px gray;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.btn:active {
  position: relative;
  box-shadow: none;
  top: 4px;
}

#preview {
  display: none;
}

#img-link {
  color: white;
  text-decoration: none;
}